In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('student-mat.csv')

In [15]:
df.columns = ['temp']

In [24]:
df = df.temp.str.split(';', expand=True)\

In [25]:
df.columns = ['School', 'Sex', 'Age', 'Address', 'Family Size', 'Parental Status', 'Mother Education'
             , 'Father Education', 'Mother Job', 'Father Job', 'Reason for School', 'Guardian', 'Travel Time'
             , 'Study Time', '# of Failures', 'Extra Educational Support', 'Extra Family Support', 'Extra Paid Classes'
             , 'Extracurricular', 'Nursery', 'Desire Higher Education', 'Internet Access', 'Romantic Relationship'
             , 'Family Relationship Quality', 'Amount of Free Time', 'Frequency of Going Out', 'Weekday Alcohol Consumption'
             , 'Weekend Alcohol Consumption', 'Health Status', 'Abscences', '1st Period Grade', '2nd Period Grade'
             , 'Final Grade']

In [26]:
df.head(3)

,School,Sex,Age,Address,Family Size,Parental Status,Mother Education,Father Education,Mother Job,Father Job,...,Family Relationship Quality,Amount of Free Time,Frequency of Going Out,Weekday Alcohol Consumption,Weekend Alcohol Consumption,Health Status,Abscences,1st Period Grade,2nd Period Grade,Final Grade
0,GP,"""F""",18,"""U""","""GT3""","""A""",4,4,"""at_home""","""teacher""",...,4,3,4,1,1,3,6,"""5""","""6""",6
1,GP,"""F""",17,"""U""","""GT3""","""T""",1,1,"""at_home""","""other""",...,5,3,3,1,1,3,4,"""5""","""5""",6
2,GP,"""F""",15,"""U""","""LE3""","""T""",1,1,"""at_home""","""other""",...,4,3,2,2,3,3,10,"""7""","""8""",10

In [28]:
for x in df.columns:
    df[x] = df[x].replace({'"': ''}, regex=True)

In [29]:
df.head(3)

,School,Sex,Age,Address,Family Size,Parental Status,Mother Education,Father Education,Mother Job,Father Job,...,Family Relationship Quality,Amount of Free Time,Frequency of Going Out,Weekday Alcohol Consumption,Weekend Alcohol Consumption,Health Status,Abscences,1st Period Grade,2nd Period Grade,Final Grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10